/HWalletClient/target/
/HWalletClient/blockstore.dat
/HWalletClient/blockstore2.dat
/HWalletClient/w.dat
/HWalletClient/blockstore3.dat
/HWalletClient/externalKey_01.dat
/ECTest/target/
/SatoChipApplet/
/ledger-javacard/
/HWalletApplet/build/
/HWalletApplet/dist/
/HWalletApplet/nbproject/private/
/SCWallet/target/
/SCWallet/.idea/
/SCWallet/lib/
/SCWallet/SCWallet.iml